<div class="hero bg-gray">
	<div class="hero-body">
		<h1>Welcome!</h1>
		<p>This is just a small and simple website built with Express to show off how to use Machine-Leraning-as-a-Service from various providers. Select which example to view in the menu.</p>
	</div>
</div>
