<h1>Translate</h1>

<p>Translates Swedish to English using a Machine Learned model.</p>

{{#if textToTranslate}}
	<div>Text to translate: {{textToTranslate}}</div>
	<div>Translated text: {{translatedText}}</div>
{{/if}}

<form action="">
	<div>
		Text to Translate:
		<input name="textToTranslate" value="{{textToTranslate}}">
	</div>
	<input type="submit" value="Translate">
</form>